body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }

  /* books css stuff */
  
  .books-page {
    padding: 20px;
    text-align: center;
  }
  
  .featured-book {
    flex: 0 1 300px;
    margin-bottom: 0;
  }
  
  .featured-img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .featured-books-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  }
  
  .book-carousel {
    text-align: left;
  }
  
  .book-carousel h3 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    scroll-behavior: smooth;
  }
  
  .carousel img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s;
  }
  
  .carousel img:hover {
    transform: scale(1.1);
  }

  .rating {
    font-size: 1rem;
    color: gold;
    margin-top: 5px;
  }

  .book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    flex-shrink: 0;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-height: 250px;
    justify-content: space-between;
  }

  .book-item p {
    margin: 4px 0;
    font-size: 0.85em;
    text-align: center;
    line-height: 1.2;
  }

  .book-metric {
  font-weight: bold;
  color: #444;
  font-size: 0.9em;
  margin-top: 10px;
  }

  .loading-dots--dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 6px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #00ff22;
  animation: dot-keyframes 1.5s infinite ease-in-out;
  position: relative;
  top: -1.025px;
  }

  @keyframes dot-keyframes {
    0% {
      opacity: 0.4;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.4);
    }
    100% {
      opacity: 0.4;
      transform: scale(1);
    }
  }

  .game-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.game-list li {
  margin: 10px 0;
  font-size: 1.2em;
}

.game-list a {
  text-decoration: none;
  color: #2196f3;
}

.game-list a:hover {
  text-decoration: underline;
}
